/* layouts */
@import './helpers/reset.styl'
/* helpers */
@import './helpers/parameters.styl'
@import './helpers/functions.styl'
/* pages */
.main-btn
  btn()
  main-btn()
.center
  display flex
  justify-content center
  align-items center
.text-center
  text-align center
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill, input:-webkit-autofill-strong-password
  background-color: #fff !important
  background-image: none !important
  -webkit-box-shadow: 0 0 0 1000px white inset !important
  -moz-box-shadow:0 0 0 1000px white inset !important
  box-shadow: 0 0 0 1000px white inset !important
input
  background: white !important
  appearance none !important
  -webkit-appearance none !important